In [1]:
import pandas as pd
import numpy as np
rawdata = pd.read_csv("Speed_Dating_Data.csv", encoding = "ISO-8859-1")
rawdata

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,22.0,1,44,2,21,22,14,10.0,5,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8374,552,22.0,1,44,2,21,22,13,10.0,4,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8375,552,22.0,1,44,2,21,22,19,10.0,10,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8376,552,22.0,1,44,2,21,22,3,10.0,16,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0
8377,552,NaN,1,44,2,21,22,2,10.0,15,...,8.0,5.0,7.0,6.0,7.0,9.0,5.0,9.0,5.0,6.0

Removing unimportant columns

In [2]:
trunci = rawdata.columns.get_loc("attr")
truncdata = rawdata.iloc[:,range(trunci)]
truncdata = truncdata.drop(["id","idg","condtn","wave",
                            "round","position","positin1","order","partner",
                            "match","int_corr","samerace","age_o","race_o",
                            "pf_o_att","pf_o_sin","pf_o_int","pf_o_fun","pf_o_amb","pf_o_sha",
                            "dec_o","attr_o","sinc_o","intel_o","fun_o","amb_o","amb_o","shar_o",
                            "like_o","shar_o","like_o","prob_o","met_o",
                            "undergra", "mn_sat", "tuition",
                            "from", "zipcode","income",
                            "field", "career", "career_c",
                            "exphappy", "expnum",
                            "goal"]
                           ,axis=1)
truncdata

,iid,gender,pid,age,field_cd,race,imprace,imprelig,date,go_out,...,sinc3_1,fun3_1,intel3_1,amb3_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,dec
0,1,0,11.0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1
1,1,0,12.0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1
2,1,0,13.0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1
3,1,0,14.0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1
4,1,0,15.0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,...,8.0,8.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,1,526.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8374,552,1,527.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8375,552,1,528.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8376,552,1,529.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8377,552,1,530.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0

df.dropna() removes rows with missing values. might be a good idea?

In [3]:
truncdata.dropna()

,iid,gender,pid,age,field_cd,race,imprace,imprelig,date,go_out,...,sinc3_1,fun3_1,intel3_1,amb3_1,attr5_1,sinc5_1,intel5_1,fun5_1,amb5_1,dec
3408,234,0,243.0,22.0,3.0,6.0,1.0,5.0,7.0,3.0,...,7.0,8.0,8.0,10.0,9.0,6.0,9.0,6.0,10.0,0
3409,234,0,244.0,22.0,3.0,6.0,1.0,5.0,7.0,3.0,...,7.0,8.0,8.0,10.0,9.0,6.0,9.0,6.0,10.0,1
3410,234,0,245.0,22.0,3.0,6.0,1.0,5.0,7.0,3.0,...,7.0,8.0,8.0,10.0,9.0,6.0,9.0,6.0,10.0,0
3411,234,0,246.0,22.0,3.0,6.0,1.0,5.0,7.0,3.0,...,7.0,8.0,8.0,10.0,9.0,6.0,9.0,6.0,10.0,0
3412,234,0,247.0,22.0,3.0,6.0,1.0,5.0,7.0,3.0,...,7.0,8.0,8.0,10.0,9.0,6.0,9.0,6.0,10.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,552,1,526.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8374,552,1,527.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8375,552,1,528.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8376,552,1,529.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0
8377,552,1,530.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,...,7.0,6.0,7.0,7.0,9.0,7.0,10.0,5.0,9.0,0

In [4]:
for v in ["attr","sinc","intel","fun","amb"]:
    truncdata[v+"3_1"] = np.nansum(truncdata.loc[:,[v+"3_1",v+"5_1"]],axis=1)
    truncdata.loc[:,[v+"3_1"]]
    truncdata = truncdata.drop([v+"5_1"],axis=1)

In [5]:
truncdata.dropna()
truncdata.columns

Index(['iid', 'gender', 'pid', 'age', 'field_cd', 'race', 'imprace',
       'imprelig', 'date', 'go_out', 'sports', 'tvsports', 'exercise',
       'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading',
       'tv', 'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga',
       'attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1',
       'attr4_1', 'sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1',
       'attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1',
       'attr3_1', 'sinc3_1', 'fun3_1', 'intel3_1', 'amb3_1', 'dec'],
      dtype='object')

In [6]:
truncdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Data columns (total 51 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   iid       8378 non-null   int64
 1   gender    8378 non-null   int64
 2   pid       8368 non-null   float64
 3   age       8283 non-null   float64
 4   field_cd  8296 non-null   float64
 5   race      8315 non-null   float64
 6   imprace   8299 non-null   float64
 7   imprelig  8299 non-null   float64
 8   date      8281 non-null   float64
 9   go_out    8299 non-null   float64
 10  sports    8299 non-null   float64
 11  tvsports  8299 non-null   float64
 12  exercise  8299 non-null   float64
 13  dining    8299 non-null   float64
 14  museums   8299 non-null   float64
 15  art       8299 non-null   float64
 16  hiking    8299 non-null   float64
 17  gaming    8299 non-null   float64
 18  clubbing  8299 non-null   float64
 19  reading   8299 non-null   float64
 20  tv        8299 non-null   float64
 21  theater   8299 non-null   float64
 22  movies    8299 non-null   float64
 23  concerts  8299 non-null   float64
 24  music     8299 non-null   float64
 25  shopping  8299 non-null   float64
 26  yoga      8299 non-null   float64
 27  attr1_1   8299 non-null   float64
 28  sinc1_1   8299 non-null   float64
 29  intel1_1  8299 non-null   float64
 30  fun1_1    8289 non-null   float64
 31  amb1_1    8279 non-null   float64
 32  shar1_1   8257 non-null   float64
 33  attr4_1   6489 non-null   float64
 34  sinc4_1   6489 non-null   float64
 35  intel4_1  6489 non-null   float64
 36  fun4_1    6489 non-null   float64
 37  amb4_1    6489 non-null   float64
 38  shar4_1   6467 non-null   float64
 39  attr2_1   8299 non-null   float64
 40  sinc2_1   8299 non-null   float64
 41  intel2_1  8299 non-null   float64
 42  fun2_1    8299 non-null   float64
 43  amb2_1    8289 non-null   float64
 44  shar2_1   8289 non-null   float64
 45  attr3_1   8378 non-null   float64
 46  sinc3_1   8378 non-null   float64
 47  fun3_1    8378 non-null   float64
 48  intel3_1  8378 non-null   float64
 49  amb3_1    8378 non-null   float64
 50  dec       8378 non-null   int64
dtypes: float64(48), int64(3)
memory usage: 3.3 MB

In [7]:
for c in ["attr4_1","sinc4_1","intel4_1","fun4_1","amb4_1","shar4_1"]:
    for g in [0,1]:
        truncdata.loc[truncdata["gender"] == g, c] = truncdata.loc[truncdata["gender"] == g, c].fillna(truncdata.loc[truncdata["gender"] == g, c].mean())

In [8]:
truncdata.dropna(inplace=True)

In [9]:
truncdata.loc[truncdata["iid"]==12,:]

,iid,gender,pid,age,field_cd,race,imprace,imprelig,date,go_out,...,intel2_1,fun2_1,amb2_1,shar2_1,attr3_1,sinc3_1,fun3_1,intel3_1,amb3_1,dec
110,12,1,1.0,22.0,1.0,2.0,1.0,1.0,1.0,1.0,...,25.0,20.0,15.0,0.0,9.0,9.0,9.0,10.0,9.0,0
111,12,1,2.0,22.0,1.0,2.0,1.0,1.0,1.0,1.0,...,25.0,20.0,15.0,0.0,9.0,9.0,9.0,10.0,9.0,0
112,12,1,3.0,22.0,1.0,2.0,1.0,1.0,1.0,1.0,...,25.0,20.0,15.0,0.0,9.0,9.0,9.0,10.0,9.0,0
113,12,1,4.0,22.0,1.0,2.0,1.0,1.0,1.0,1.0,...,25.0,20.0,15.0,0.0,9.0,9.0,9.0,10.0,9.0,0
114,12,1,5.0,22.0,1.0,2.0,1.0,1.0,1.0,1.0,...,25.0,20.0,15.0,0.0,9.0,9.0,9.0,10.0,9.0,0
115,12,1,6.0,22.0,1.0,2.0,1.0,1.0,1.0,1.0,...,25.0,20.0,15.0,0.0,9.0,9.0,9.0,10.0,9.0,0
116,12,1,7.0,22.0,1.0,2.0,1.0,1.0,1.0,1.0,...,25.0,20.0,15.0,0.0,9.0,9.0,9.0,10.0,9.0,1
117,12,1,8.0,22.0,1.0,2.0,1.0,1.0,1.0,1.0,...,25.0,20.0,15.0,0.0,9.0,9.0,9.0,10.0,9.0,1
118,12,1,9.0,22.0,1.0,2.0,1.0,1.0,1.0,1.0,...,25.0,20.0,15.0,0.0,9.0,9.0,9.0,10.0,9.0,1
119,12,1,10.0,22.0,1.0,2.0,1.0,1.0,1.0,1.0,...,25.0,20.0,15.0,0.0,9.0,9.0,9.0,10.0,9.0,0

In [10]:
D = dict()
for index, row in truncdata.iterrows():
    iid = row["iid"]
    if iid not in D:
        D[iid] = [row.drop(["iid","pid","dec"]),[]]
    D[iid][1].append((row["pid"],row["dec"]))

In [11]:
newdf = pd.DataFrame()
for iid, v in D.items():
    for pid, dec in v[1]:
        try:
            newrow = list(D[iid][0])+list(D[pid][0])+[dec]
        except:
            continue
        newdf = newdf.append([newrow], ignore_index=True)

C:\Users\Erik\AppData\Local\Temp\ipykernel_21728\1477230616.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  newdf = newdf.append([newrow], ignore_index=True)

In [13]:
original_columns = ['gender', 'age', 'field_cd', 'race', 'imprace', 'imprelig', 
       'date', 'go_out', 'sports', 'tvsports', 'exercise', 'dining', 'museums',
       'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater',
       'movies', 'concerts', 'music', 'shopping', 'yoga', 'attr1_1', 'sinc1_1',
       'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1', 'attr4_1', 'sinc4_1',
       'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1', 'attr2_1', 'sinc2_1',
       'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1', 'attr3_1', 'sinc3_1',
       'fun3_1', 'intel3_1', 'amb3_1']

new_columns = original_columns + [col+"o" for col in original_columns] + ['dec']

newdf.columns = new_columns
newdf

,gender,age,field_cd,race,imprace,imprelig,date,go_out,sports,tvsports,...,intel2_1o,fun2_1o,amb2_1o,shar2_1o,attr3_1o,sinc3_1o,fun3_1o,intel3_1o,amb3_1o,dec
0,0.0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,9.0,2.0,...,20.0,20.0,25.0,5.0,8.0,9.0,7.0,8.0,5.0,1.0
1,0.0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,9.0,2.0,...,25.0,20.0,15.0,0.0,9.0,9.0,9.0,10.0,9.0,1.0
2,0.0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,9.0,2.0,...,16.0,18.0,16.0,14.0,4.0,7.0,8.0,8.0,3.0,1.0
3,0.0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,9.0,2.0,...,20.0,20.0,5.0,20.0,9.0,9.0,9.0,9.0,9.0,1.0
4,0.0,21.0,1.0,4.0,2.0,4.0,7.0,1.0,9.0,2.0,...,20.0,20.0,10.0,10.0,7.0,7.0,7.0,9.0,9.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8009,1.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,8.0,2.0,...,5.0,25.0,5.0,10.0,12.0,19.0,16.0,19.0,17.0,0.0
8010,1.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,8.0,2.0,...,10.0,10.0,10.0,10.0,6.0,12.0,18.0,15.0,19.0,0.0
8011,1.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,8.0,2.0,...,5.0,5.0,10.0,5.0,18.0,17.0,17.0,19.0,17.0,0.0
8012,1.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,8.0,2.0,...,10.0,10.0,5.0,25.0,12.0,20.0,18.0,14.0,13.0,0.0
8013,1.0,25.0,18.0,2.0,1.0,1.0,2.0,1.0,8.0,2.0,...,10.0,10.0,10.0,20.0,6.0,18.0,15.0,18.0,13.0,0.0

normalize

In [20]:
groups = [
    ['sports', 'tvsports', 'exercise', 'dining', 'museums',
    'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater',
    'movies', 'concerts', 'music', 'shopping', 'yoga'],
    ['attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1'],
    ['attr4_1', 'sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1'],
    ['attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1'],
    ['attr3_1', 'sinc3_1', 'fun3_1', 'intel3_1', 'amb3_1']
]
for rowi in range(len(newdf)):
    for g in groups:
        s = sum(newdf.loc[rowi,g])
        newdf.loc[rowi,g] = newdf.loc[rowi,g]/s

In [ ]:
newdf

In [ ]:
newdf.to_csv("Cleaned_Data.csv")